services:
  nginx:
    build:
      dockerfile: ./nginx/Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx_config.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - bday_time_service
    networks:
      - internal_network
  bday_time_service:
    build:
      dockerfile: ./server/Dockerfile
    ports:
    - "8001:8000"
    volumes:
      - ./server:/app
    env_file: service.env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - internal_network

  migrate:
    build:
      dockerfile: ./server/Dockerfile
    env_file: service.env
    entrypoint: ["alembic", "upgrade", "head"]
    depends_on:
      - db
    networks:
      - internal_network
  db:
    image: postgres:16.6
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: P5BWdhce73ZBEcm3PGz3eNfv
      POSTGRES_DB: tg_apps
    command: ["postgres", "-c", "log_statement=all"]
    ports:
      - 5432:5432
    volumes:
      - ./local_deploy/postgres_init:/docker-entrypoint-initdb.d
      - ./docker_pg_data/postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "postgres"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    restart: on-failure
    networks:
      - internal_network

networks:
  internal_network:
volumes:
  docker_pg_data: