body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f7fa;
    color: #333;
}

.footer {
    position: relative;
    top: calc(50% + 10px);
    left: 50%;
    margin-top: 40px;
    transform: translateX(-50%);
    display: flex; /* Используем Flexbox для разделения на части */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    width: 390px; /* Ширина блока */
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 12px; /* Радиус для углов блока */
    background-color: #d60303; /* Цвет фона блока */
    height: 80px;
}

.part {
    flex: 1; /* Делаем части равными по ширине */
    color: rgba(255, 133, 82, 1); /* Цвет текста */
    text-align: center; /* Центрируем текст */
    height: 100%;
}

.round-part {
    width: 100px; /* Ширина круглой части */
    height: 100px; /* Высота круглой части */
    border-radius: 50%; /* Круглая форма */
    background-color: rgba(255, 133, 82, 1); /* Цвет круглой части */
    display: flex; /* Используем Flexbox для центрирования текста внутри */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    margin-bottom: 20px;
}


.calendar {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 40%;
    margin-left: -195px;
    width: 360px;
    padding: 15px;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 12px; /* Замените на $radius, если используете SCSS */
    overflow: hidden;
}

.calendar--nav {
    margin: -15px -15px 15px;
    padding: 0 15px;
    background-color: rgba(255, 133, 82, 1); /* Замените на $primary, если используете SCSS */
    color: #fff;
    height: 70px;
    position: relative;
}

.calendar--nav a {
    position: absolute;
    cursor: pointer;
    left: 10px;
    font-size: 32px;
    line-height: 1;
    top: 16px;
    width: 30px;
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6); /* Замените на transparentize(#fff, 0.6), если используете SCSS */
    user-select: none;
}

.calendar--nav a:hover {
    color: #fff;
}

.calendar--nav a:last-child {
    left: auto;
    right: 10px;
}

.calendar--nav h1 {
    margin: 0;
    position: absolute;
    left: 40px;
    right: 40px;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 30px;
    line-height: 66px;
    user-select: none;
}

.calendar--nav small {
    font-weight: 300;
    font-size: 60%;
}

.calendar--days {
    font-size: 0;
}

.calendar--days span {
    width: 14.28571%;
    display: inline-block;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 8px 0;
    line-height: 34px;
    position: relative;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 133, 82, 0);
}

.calendar--days span.label {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    cursor: initial;
}

.calendar--days span.active {
    font-weight: 700;
    font-size: 18px;
    background-color: rgb(255, 133, 82, 0.5);
    border-radius: 12px; /* Замените на $radius, если используете SCSS */
}

.calendar--days span.active-bday {
    font-weight: 700;
    border: 2px solid rgba(255, 133, 82, 1);
    font-size: 18px;
    background-color: rgb(255, 133, 82, 0.5);
    border-radius: 12px; /* Замените на $radius, если используете SCSS */
}

.calendar--days span.muted-bday {
    border: 2px solid rgba(255, 133, 82, 0.3);
    border-radius: 12px; /* Замените на $radius, если используете SCSS */
}



.calendar--days span.bday {
    font-weight: 700;
    border: 2px solid rgb(255, 133, 82);
    border-radius: 12px;
}


.calendar--days span.muted {
    color: rgba(0, 0, 0, 0.3);
}

.calendar--days span.between {
    border-radius: 0;
}

.calendar--days span.muted.bday {
    font-weight: 700;
    background-color: rgba(255, 133, 82, 0.3);
    border-radius: 12px;
}

.calendar--days span.start,
.calendar--days span.between,
.calendar--days span.end {
    background-color: #229ED9 ;
    color: #fff;
}

.calendar--days span.start {
    border-radius: 12px 0 0 12px; /* Замените на $radius, если используете SCSS */
}

.calendar--days span.end {
    border-radius: 0 12px 12px 0; /* Замените на $radius, если используете SCSS */
}

.calendar--days span.start.end {
    border-radius: 12px; /* Замените на $radius, если используете SCSS */
}

.calendar--days span.between:nth-child(7n):after,
.calendar--days span.start:nth-child(7n):after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    background-color: #229ED9 ;
    width: 20px;
}

.calendar--days span.between:nth-child(7n + 1):after,
.calendar--days span.end:nth-child(7n + 1):after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: #229ED9 ;
    width: 20px;
}

.calendar--days span.start.end:after {
    display: none;
}
